[LevelInfo3]
; EN: Title="Serpent Canyon"
Title=""
; EN: LevelEnterText="Entering the Serpent Canyon"
LevelEnterText=""

[LevelSummary]
; EN: Title="Serpent Canyon"
Title=""
; EN: LevelEnterText="Entering the Serpent Canyon"
LevelEnterText=""

[TranslatorEvent0]
; EN: Message="Here lies Haith M'olner, may his soul soar high with the gods."
Message=""

[RocketCan0]
; EN: PickupMessage="You picked up 6 Eightballs"
PickupMessage=""

